@import "https://nomail.com.ua/api/font-face/8436.css";
@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../font/latoregular.woff2") format("woff2"), url("../font/latoregular.woff") format("woff"), url("../font/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url("../font/CenturyGothic-Bold.eot");
  src: url("../font/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../font/CenturyGothic-Bold.woff") format("woff"), url("../font/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../img/millisa/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.up-arrow {
  -webkit-transition: 300ms;
  transition: 300ms;
  position: fixed;
  bottom: -70px;
  right: 10px;
  z-index: 6;
  width: 60px;
  height: 60px;
  background-color: #007987;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.up-arrow img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
}

#fancybox-left,
#fancybox-right {
  visibility: visible;
}

#fancybox-left span {
  left: 20px;
}

#fancybox-right span {
  left: auto;
  right: 20px;
}

h1,
h2,
h3,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input {
  outline: none;
  border: 0;
}

.ajax-popup .success .window__message {
  background-color: #99D77C;
}

.ajax-popup .error .window__message {
  background-color: #D77C7C;
}

.ajax-popup .window {
  position: fixed;
  z-index: 13;
  margin-left: 50%;
  margin-top: 50vh;
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  color: #ffffff;
  display: none;
}

.ajax-popup .window__message {
  padding: 40px;
  font-size: 20px;
  font-family: 'Century Gothic Bold';
  text-align: center;
  max-width: 450px;
}

.ajax-popup .window__close {
  position: absolute;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.ajax-popup__bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  opacity: 0.6;
  background-color: #000000;
  display: none;
}

.popup {
  position: fixed;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato';
  color: #242424;
  display: none;
}

.popup__form {
  width: 450px;
  padding: 30px 50px;
  overflow: auto;
  max-height: 100vh;
}

.popup__form-wrap {
  overflow: auto;
  position: relative;
  z-index: 8;
  background-color: #E6E6E6;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__form .form__title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 26px;
}

.popup__form .form__close {
  position: absolute;
  right: 5px;
  top: 1px;
  font-size: 25px;
  cursor: pointer;
  color: #242424;
}

.popup__form .form__error {
  color: #ff0000;
  margin: 0;
  position: relative;
  top: -17px;
  font-size: 17px;
  display: none;
}

.popup__form p {
  font-size: 20px;
  margin-bottom: 10px;
}

.popup__form input {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  display: block;
  margin-bottom: 22px;
  width: 96%;
}

.popup__form button {
  font-family: 'Lato';
  font-size: 20px;
  background-color: #00abbf;
  color: #fff;
  padding: 15px 35px;
  cursor: pointer;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup__bg {
  background-color: #000;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #252525;
  color: #fff;
  padding: 15px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato';
}

.header .social-icons {
  position: absolute;
  margin-left: 45%;
  -webkit-transform: translateX(-45%);
  transform: translateX(-45%);
}

.header .social-icons .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .social-icons .social__element {
  margin: 0 20px;
  font-size: 30px;
}

.header .social-icons .social__element i {
  color: #ffffff;
}

.header .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato';
}

.header .adress a {
  color: #fff;
}

.header .adress__icon {
  margin-right: 20px;
  font-size: 20px;
}

.header .adress__text {
  font-size: 18px;
}

.header .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .phone__icon {
  margin-right: 13px;
  font-size: 24px;
}

.header .phone__text {
  font-size: 24px;
  color: #ffffff;
}

.small-menu__wrap {
  display: none;
}

.menu {
  background-color: #00abbf;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__line {
  width: 220px;
  height: 1px;
  background-color: #fff;
}

.menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px;
}

.menu .main-menu li {
  margin: 0 20px;
}

.menu .main-menu li a {
  font-family: 'Lato';
  font-size: 21px;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu .main-menu li a:hover {
  color: #cccccc;
}

.mobile-menu {
  background-color: #00abbf;
  padding: 20px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.mobile-menu .gamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 4;
}

.mobile-menu .gamburger span,
.mobile-menu .gamburger:after,
.mobile-menu .gamburger:before {
  position: absolute;
  width: 100%;
  height: 0.2em;
  background-color: #fff;
  border-radius: 50px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.mobile-menu .gamburger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mobile-menu .gamburger:after,
.mobile-menu .gamburger:before {
  content: "";
}

.mobile-menu .gamburger:after {
  top: 0;
}

.mobile-menu .gamburger:before {
  bottom: 0;
}

.mobile-menu .gamburger.active span {
  opacity: 0;
}

.mobile-menu .gamburger.active:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -1px;
  top: 50%;
}

.mobile-menu .gamburger.active:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -1px;
  top: 50%;
}

.main {
  height: 790px;
  width: 100%;
  color: #fff;
}

.main-title {
  height: 100%;
  background-image: url("../img/millisa/main/main-img.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.main-title:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  position: absolute;
  z-index: 2;
}

.main-title > * {
  position: relative;
  z-index: 3;
}

.main-title__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-transition: 700ms;
  transition: 700ms;
}

.main-title__1 {
  left: 50%;
}

.main-title__2 {
  left: 150%;
}

.main-title__3 {
  left: 250%;
}

.main-title__4 {
  left: 350%;
}

.main-title__item {
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url("../img/millisa/main/border.png");
  background-size: 100% 100%;
  width: 1180px;
  height: 500px;
}

.main-title__img {
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-title__title {
  font-family: 'BodoniC-Bold';
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  line-height: 110px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.main-title__button {
  font-family: 'Lato';
  text-transform: uppercase;
  padding: 20px 0;
  background-color: #00abbf;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 270px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
}

.main .navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
}

.main .navigation__element {
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50px;
  margin: 0 3px;
  margin-top: -50px;
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.main .navigation__element:hover {
  background-color: #fff;
}

.main .navigation__element.active {
  background-color: #fff;
}

.about {
  padding: 90px 0;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 5%;
  line-height: 37px;
}

.about__title h2 {
  color: #ffffff;
  font-family: 'Century Gothic Bold';
  font-size: 48px;
  color: #242424;
  padding: 10px 20px;
  border: 3px solid #242424;
}

.about .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Lato';
  font-size: 18px;
  color: #242424;
}

.about .head__line {
  width: 180px;
  height: 1px;
  background-color: #5a5a5a;
}

.about .head .menu {
  background-color: transparent;
  margin: 0 20px;
}

.about .head .menu li {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .head .menu li:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #00abbf;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.about .head .menu li:hover:after {
  bottom: -10px;
  opacity: 1;
}

.about .head .menu .active:after {
  bottom: -10px;
  opacity: 1;
}

.about .content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about .content__text {
  font-family: 'Lato';
  font-size: 24px;
  width: 600px;
  color: #242424;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.about .content__wrap {
  position: relative;
  height: 730px;
  -webkit-transition: 900ms;
  transition: 900ms;
}

.about .content__slider {
  overflow: hidden;
  width: 100%;
}

.studio {
  padding-bottom: 100px;
}

.studio__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 5%;
  line-height: 37px;
  margin-bottom: 50px;
  text-align: center;
}

.studio__title h2 {
  color: #ffffff;
  font-family: 'Century Gothic Bold';
  font-size: 48px;
  color: #242424;
  padding: 10px 20px;
  border: 3px solid #242424;
}

.studio .slider {
  position: relative;
  overflow: hidden;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.studio .slider__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.studio .slider__img {
  position: relative;
}

.studio .slider__img_1 {
  background-image: url("../img/millisa/studio/slide-1.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_2 {
  background-image: url("../img/millisa/studio/slide-2.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_3 {
  background-image: url("../img/millisa/studio/slide-3.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_4 {
  background-image: url("../img/millisa/studio/slide-4.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_5 {
  background-image: url("../img/millisa/studio/slide-5.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_6 {
  background-image: url("../img/millisa/studio/slide-6.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_7 {
  background-image: url("../img/millisa/studio/slide-7.jpg");
  background-size: cover;
  background-position: center center;
  width: 390px;
  height: 280px;
}

.studio .slider__img_blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.studio .slider__button {
  position: absolute;
  width: 90%;
  padding: 0 5%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 55px;
}

.studio .slider__button .left-button,
.studio .slider__button .right-button {
  background-repeat: no-repeat;
  width: 16px;
  height: 27px;
}

.studio .slider__button .left-button__wrap,
.studio .slider__button .right-button__wrap {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.studio .slider__button .left-button__wrap:hover,
.studio .slider__button .right-button__wrap:hover {
  background-color: #242424;
  color: #fff;
  border: 3px solid #242424;
}

.studio .slider__button .left-button {
  background-image: url("../img/millisa/studio/left-arrow.png");
}

.studio .slider__button .right-button {
  background-image: url("../img/millisa/studio/left-arrow.png");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.price {
  padding-bottom: 100px;
}

.price__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 5%;
  line-height: 37px;
}

.price__title h2 {
  color: #ffffff;
  font-family: 'Century Gothic Bold';
  font-size: 48px;
  color: #242424;
  padding: 10px 20px;
  border: 3px solid #242424;
}

.price__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.price__elements .element-1 {
  margin: 20px;
}

.price__elements .element-1__img {
  width: 331px;
  height: 232px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.price__elements .element-1__img_wrap {
  width: 346px;
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.price__elements .element-1__text {
  font-family: 'Lato';
  font-size: 18px;
  color: #242424;
  letter-spacing: 0.2px;
}

.price__elements .element-2 {
  margin: 20px;
}

.price__elements .element-2__img {
  width: 331px;
  height: 232px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.price__elements .element-2__img_wrap {
  width: 346px;
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.price__elements .element-2__text {
  font-family: 'Lato';
  font-size: 18px;
  color: #242424;
  letter-spacing: 0.2px;
}

.price__elements .element-3 {
  margin: 20px;
}

.price__elements .element-3__img {
  width: 331px;
  height: 232px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.price__elements .element-3__img_wrap {
  width: 346px;
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.price__elements .element-3__text {
  font-family: 'Lato';
  font-size: 18px;
  color: #242424;
  letter-spacing: 0.2px;
}

.price__elements .element-4 {
  margin: 20px;
}

.price__elements .element-4__img {
  width: 331px;
  height: 232px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.price__elements .element-4__img_wrap {
  width: 346px;
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.price__elements .element-4__text {
  font-family: 'Lato';
  font-size: 18px;
  color: #242424;
  letter-spacing: 0.2px;
}

.price__elements .element-5 {
  margin: 20px;
}

.price__elements .element-5__img {
  width: 331px;
  height: 232px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.price__elements .element-5__img_wrap {
  width: 346px;
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.price__elements .element-5__text {
  font-family: 'Lato';
  font-size: 18px;
  color: #242424;
  letter-spacing: 0.2px;
}

.price__elements .element-1__img {
  background-image: url("../img/millisa/price/manicure.jpg");
}

.price__elements .element-2__img {
  background-image: url("../img/millisa/price/pedicure.jpg");
}

.price__elements .element-3__img {
  background-image: url("../img/millisa/price/make-up.jpg");
  background-position: top center;
}

.price__elements .element-4__img {
  background-image: url("../img/millisa/price/eyebrows.jpg");
}

.price__elements .element-5__img {
  background-image: url("../img/millisa/price/eyelashes.jpg");
}

.gallery {
  padding-bottom: 140px;
}

.gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 5%;
  line-height: 37px;
}

.gallery__title h2 {
  color: #ffffff;
  font-family: 'Century Gothic Bold';
  font-size: 48px;
  color: #242424;
  padding: 10px 20px;
  border: 3px solid #242424;
}

.gallery__subtitle {
  font-family: 'Lato';
  font-size: 30px;
  text-align: center;
  color: #242424;
  margin-bottom: 50px;
}

.gallery__img {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  grid-template-rows: 290px 290px 290px 290px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 80px;
}

.gallery__img img {
  justify-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.gallery__btn {
  font-family: 'Lato';
  text-transform: uppercase;
  padding: 20px 0;
  background-color: #00abbf;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 270px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 auto;
}

.footer {
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: 'Lato';
  color: #ffffff;
  padding: 50px 0;
}

.footer__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  line-height: 36px;
}

.footer .menu-social .menu {
  background-color: transparent;
  padding: 0;
  font-size: 18px;
  margin-bottom: 40px;
}

.footer .menu-social .menu li {
  margin: 0 24px;
}

.footer .menu-social .menu li a {
  color: #ffffff;
}

.footer .menu-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer .menu-social .social li {
  margin: 0 24px;
}

.footer .menu-social .social li a {
  color: #ffffff;
}

.footer .phone-adress .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  -webkit-transform: translateX(-37px);
  transform: translateX(-37px);
}

.footer .phone-adress .phone__icon {
  font-size: 25px;
  margin-right: 17px;
}

.footer .phone-adress .phone__text {
  color: #ffffff;
  font-size: 24px;
}

.footer .phone-adress .adress {
  font-size: 24px;
  width: 250px;
}

.footer .phone-adress .adress a {
  color: #ffffff;
}

body {
  position: absolute;
  z-index: -2;
}

.request {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/millisa/main/main-img.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
  z-index: -2;
}

.request:before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.request__wrap {
  position: relative;
  pointer-events: auto;
  z-index: 2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.request__title {
  font-family: 'BodoniC-Bold';
  font-size: 55px;
  max-width: 700px;
  margin-bottom: 40px;
}

.request__button {
  font-family: 'Lato';
  text-transform: uppercase;
  padding: 20px 0;
  background-color: #00abbf;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 270px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
}

@media (max-width: 420px) {
  .request__title {
    font-size: 40px;
  }

  .request__button {
    max-width: 270px;
    width: 100%;
  }
}

.brd {
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
  padding: 40px 0;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid #BBBBBB;
  background-color: #ffffff;
}

.brd__created {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.brd__name {
  font-weight: 700;
  font-size: 25px;
  color: #2E2E2E;
}

@media (max-width: 1200px) {
  .menu__line {
    width: 80px;
  }

  .menu .main-menu {
    margin: 0 30px;
  }

  .menu .main-menu li {
    margin: 0 10px;
  }

  .menu .main-menu li a {
    font-size: 19px;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .header .social-icons {
    margin: 10px 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: static;
  }

  .main-title {
    background-size: cover;
  }

  .main-title__item {
    background: none;
    border: 2px solid #ffffff;
    padding: 0 10px;
    width: 85%;
  }

  .main-title__title {
    line-height: 85px;
  }

  .about .head__line {
    width: 25px;
  }

  .about .head .menu {
    margin: 0 20px;
  }

  .about .head .menu li {
    margin: 0 15px;
  }

  .about .content__wrap {
    height: 450px;
  }

  .about .content {
    width: 90%;
  }

  .about .content__img {
    height: 450px;
    margin-right: 15px;
  }

  .about .content__text {
    max-width: 500px;
    margin-right: 15px;
    font-size: 22px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    line-height: 28px;
  }

  .price__title {
    margin-bottom: 60px;
  }

  .gallery {
    padding-bottom: 100px;
  }

  .gallery__subtitle {
    margin-bottom: 20px;
  }

  .gallery__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .gallery__img img {
    height: 200px;
    margin: 5px;
  }

  .footer__title {
    font-size: 18px;
    width: 130px;
    line-height: 28px;
  }

  .footer .menu-social .menu {
    margin-bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 17px;
  }

  .footer .menu-social .menu li {
    margin: 4px 0;
  }

  .footer .phone-adress .phone {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .footer .phone-adress .phone__icon {
    font-size: 22px;
  }

  .footer .phone-adress .phone__text {
    font-size: 18px;
  }

  .footer .phone-adress .adress {
    width: 180px;
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .ajax-popup .window {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .popup__form {
    width: auto;
    padding: 30px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .popup__form-wrap {
    max-width: 450px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .popup__form input {
    width: auto;
    width: 95%;
  }

  .popup__form button {
    margin: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .header .adress__icon {
    display: none;
  }

  .header .adress__text {
    width: 170px;
  }

  .header .adress .social {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .header .adress .social__element {
    margin: 0;
  }

  .header .phone__text {
    font-size: 19px;
  }

  .menu__line {
    display: none;
  }

  .menu .main-menu {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }

  .menu .main-menu li {
    margin: 0;
  }

  .menu .main-menu li a {
    font-size: 18px;
  }

  .main {
    height: 700px;
  }

  .main .main-title__item {
    height: 440px;
  }

  .main .main-title__img img {
    height: 130px;
  }

  .main .main-title__title {
    font-size: 45px;
    line-height: 53px;
  }

  .main .navigation__element {
    margin-left: 7px;
    margin-right: 7px;
  }

  .about .head {
    margin-bottom: 20px;
  }

  .about .head__line {
    display: none;
  }

  .about .head .menu {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about .head .menu li {
    margin: 10px;
  }

  .about .head .menu li:hover:after {
    bottom: -5px;
  }

  .about .head .menu .active:after {
    bottom: -5px;
  }

  .about .content__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    margin: 0;
  }

  .about .content__text {
    margin: 0;
    padding: 0 15px;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  .studio__title_img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .price__elements .element-1 {
    margin: 20px;
  }

  .price__elements .element-1__img_wrap {
    margin-bottom: 20px;
  }

  .price__elements .element-2 {
    margin: 20px;
  }

  .price__elements .element-2__img_wrap {
    margin-bottom: 20px;
  }

  .price__elements .element-3 {
    margin: 20px;
  }

  .price__elements .element-3__img_wrap {
    margin-bottom: 20px;
  }

  .price__elements .element-4 {
    margin: 20px;
  }

  .price__elements .element-4__img_wrap {
    margin-bottom: 20px;
  }

  .price__elements .element-5 {
    margin: 20px;
  }

  .price__elements .element-5__img_wrap {
    margin-bottom: 20px;
  }

  .gallery__img img {
    height: 280px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__title {
    text-align: center;
    width: auto;
    margin-bottom: 20px;
  }

  .footer .menu-social {
    margin-bottom: 25px;
  }

  .footer .menu-social .menu {
    margin-bottom: 10px;
  }

  .footer .phone-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .footer .phone-adress .phone {
    margin-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .popup .form__button {
    padding: 15px 0;
  }

  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-menu .menu {
    display: none;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .header .adress {
    margin-bottom: 10px;
  }

  .header .social-icons {
    display: none;
  }

  .header .phone__icon {
    display: block;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    padding: 25px 0;
    z-index: 7;
    cursor: pointer;
    -webkit-transition: top 500ms;
    transition: top 500ms;
    width: 100%;
  }

  .mobile-menu .gamburger {
    display: block;
  }

  .small-menu {
    -webkit-transition: 500ms;
    transition: 500ms;
    top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 110vh;
    width: 100vw;
    z-index: 8;
    position: absolute;
    background-color: #00abbf;
    pointer-events: none;
  }

  .small-menu.active {
    top: 0;
    pointer-events: auto;
  }

  .small-menu__wrap {
    display: block;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 6;
    pointer-events: none;
  }

  .small-menu li {
    margin: 20px 0;
  }

  .small-menu li a {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 21px;
  }

  .main {
    height: 620px;
  }

  .main-title__item {
    height: 380px !important;
  }

  .main-title__img img {
    height: 110px !important;
  }

  .main-title__title {
    font-size: 33px !important;
    line-height: 40px !important;
  }

  .main-title__button {
    padding: 20px 0;
    max-width: 270px;
    width: 100%;
  }

  .about {
    padding: 40px 0;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__title h2 {
    font-size: 35px;
  }

  .about .head {
    margin: 0;
  }

  .about .head .menu {
    text-align: center;
    z-index: 2;
    position: static;
    cursor: auto;
  }

  .about .content__wrap {
    height: 430px;
  }

  .about .content__img {
    display: none;
  }

  .studio__title {
    margin-bottom: 20px !important;
  }

  .studio .slider {
    height: 170px;
  }

  .studio__title {
    margin: 0;
  }

  .studio__title h2 {
    font-size: 35px;
  }

  .studio .slider__img_1 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__img_2 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__img_3 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__img_4 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__img_5 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__img_6 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__img_7 {
    width: 230px;
    height: 170px;
  }

  .studio .slider__button .left-button__wrap,
  .studio .slider__button .right-button__wrap {
    width: 40px;
    height: 40px;
  }

  .price {
    padding-bottom: 50px;
  }

  .price__title {
    margin-bottom: 30px;
    text-align: center;
  }

  .price__title h2 {
    font-size: 35px;
  }

  .price .element-1__img {
    width: 201px;
    height: 122px;
  }

  .price .element-1__img_wrap {
    width: 216px;
    height: 137px;
  }

  .price .element-2__img {
    width: 201px;
    height: 122px;
  }

  .price .element-2__img_wrap {
    width: 216px;
    height: 137px;
  }

  .price .element-3__img {
    width: 201px;
    height: 122px;
  }

  .price .element-3__img_wrap {
    width: 216px;
    height: 137px;
  }

  .price .element-4__img {
    width: 201px;
    height: 122px;
  }

  .price .element-4__img_wrap {
    width: 216px;
    height: 137px;
  }

  .price .element-5__img {
    width: 201px;
    height: 122px;
  }

  .price .element-5__img_wrap {
    width: 216px;
    height: 137px;
  }

  .gallery {
    padding-bottom: 60px;
  }

  .gallery__title {
    margin-bottom: 10px;
  }

  .gallery__title h2 {
    font-size: 35px;
  }

  .gallery__subtitle {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .gallery__img {
    margin-bottom: 30px;
  }

  .gallery__img img {
    height: 220px;
  }

  .gallery__btn {
    max-width: 270px;
    width: 90%;
  }

  .footer .menu {
    position: static;
  }
}