/*

липкий футер на страницах, на которых мало контента
(index и contacts)

*/

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.menu {
	flex: 0 0 auto;
}

.container {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
