/* sticky footer start */

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  flex: 0 0 auto;
}

.container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/* sticky footer end */

body {
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

h1, h2, h3, body, ul, ol, p, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

button, input {
  outline: none;
  border: 0;
}

.header__title {
  margin: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #2E2E2E;
  padding: 120px 0;
}

.header__title h1 {
  font-size: 50px;
  letter-spacing: 0.01em;
  font-weight: 400;
  margin-bottom: 13px;
}

.header__title h2, .header__title p {
  font-size: 22px;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.menu {
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
}

.menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 7%;
  padding: 27px 0;
}

.menu a {
  color: #4D4D4D;
}

.menu__logo {
  color: #4D4D4D;
  font-weight: 700;
  font-size: 25px;
}

.menu__right {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 195px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__right_link {
  position: relative;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.menu__right_link:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #E22A2A;
  transition: width 250ms;
  margin-left: 50%;
  transform: translateX(-50%);
}

.menu__right_link.active, .menu__right_link:hover {
  color: #E22A2A;
}

.menu__right_link.active:before, .menu__right_link:hover:before {
  width: 100%;
}

.type {
  display: flex;
  margin: 0 7%;
  margin-bottom: 15px;
}

.type__button {
  background: none;
  cursor: pointer;
  position: relative;
  transition: color 250ms;
  font-family: 'Montserrat', sans-serif;
  margin-right: 15px;
  font-size: 15px;
  color: #2E2E2E;
}

.type__button:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #E22A2A;
  transition: width 250ms;
  margin-left: 50%;
  transform: translateX(-50%);
}

.type__button.active, .type__button:hover {
  color: #E22A2A;
}

.type__button.active:before, .type__button:hover:before {
  width: 100%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(7% - 10px);
  margin-bottom: 120px;
}

.portfolio_about {
  justify-content: center;
}

.portfolio__item {
  display: block;
  width: calc(100% / 3 - 10px * 2);
  border-radius: 4px;
  overflow: hidden;
  font-size: 0;
  margin: 10px;
  box-shadow: 0px 3px 10px rgba(48, 48, 48, 0.1);
  transition: box-shadow 200ms linear;
}

.portfolio__item:hover {
  box-shadow: 0px 3px 10px rgba(48, 48, 48, 0.5);
}

.portfolio__item.hidden {
  width: 0;
  margin: 0;
}

.portfolio__item_link {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.portfolio__item_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: top;
}

.footer {
  padding: 30px 7%;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.footer__up {
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.footer__up_icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 20px;
  background-image: url("../img/up.svg");
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__social_gh, .footer__social_tg, .footer__social_vk {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.footer__social_gh {
  background-image: url("../img/gh.svg");
  background-position: 0% 0%;
}

.footer__social_tg {
  background-image: url("../img/tg.svg");
}

.footer__social_vk {
  background-image: url("../img/vk.svg");
  width: 23px;
}

.brd {
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
  padding: 40px 0;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid #BBBBBB;
}

.brd__created {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.brd__name {
  font-weight: 700;
  font-size: 25px;
  color: #2E2E2E;
}

@media (max-width: 1200px) {
  .menu__wrap {
    padding: 27px 0;
    width: 85%;
  }
  .menu__logo {
    font-size: 23px;
  }
  .menu__right {
    font-size: 15px;
    width: 185px;
  }
  .header__title, .type, .menu__wrap {
    margin: 0 7.5%;
  }
  .type {
    margin-bottom: 15px;
  }
  .header__title h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .header__title h2, .header__title p {
    font-size: 19px;
  }
  .portfolio {
    margin: 0 calc(7.5% - 7px);
    margin-bottom: 80px;
  }
  .portfolio__item {
    margin: 7px;
    width: calc(100% / 3 - 7px * 2);
  }
}

@media (max-width: 1000px) {
  .portfolio {
    margin: 0 calc(7.5% - 5px);
    margin-bottom: 50px;
  }
  .portfolio__item {
    margin: 5px;
    width: calc(100% / 2 - 5px * 2);
  }
}

@media (max-width: 800px) {
  .menu__wrap {
    padding: 22px 0;
  }
  .menu__right {
    width: 170px;
  }
  .menu__right a:before {
    bottom: -1px;
  }
  .header__title {
    margin: 0 8%;
    padding: 110px 0;
  }
  .type {
    margin: 0 8%;
    margin-bottom: 15px;
  }
  .header__title h1 {
    font-size: 42px;
  }
  .header__title h2, .header__title p {
    font-size: 17px;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer__social {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 20px;
  }
  .footer__social_gh, .footer__social_tg, .footer__social_vk {
    width: 22px;
    height: 22px;
  }
  .footer__social_vk {
    width: 27px;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    text-align: center;
  }
  .footer__up {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu__wrap {
    margin: 0 6.5%;
  }
  .menu__logo {
    font-size: 20px;
  }
  .menu__right {
    width: 145px;
    font-size: 14px;
  }
  .header__title {
    padding: 80px 0;
    margin: 0 6.5%;
  }
  .type {
    margin: 0 6.5%;
    margin-bottom: 15px;
  }
  .portfolio {
    margin: 0 calc(6.5% - 5px);
    margin-bottom: 50px;
  }
  .portfolio__item {
    margin: 5px;
    width: calc(100% - 5px * 2);
  }
  .header__title h1 {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .type__button {
    font-size: 13px;
  }
}

.header__title p {
  width: 740px;
}

.contacts {
  padding-bottom: 100px;
  margin-left: 7.5%;
}

.contacts__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contacts__element_header {
  font-size: 18px;
  width: 200px;
}

.contacts__element_info {
  font-size: 18px;
  color: #2E2E2E;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  position: relative;
}

.contacts__element_info:after {
  content: '';
  bottom: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #2E2E2E;
}

@media (max-width: 1200px) {
  .header__title p {
    width: 640px;
    line-height: 26px;
  }
  .contacts {
    margin-left: 8.2%;
  }
  .contacts__element_header {
    font-size: 17px;
  }
  .contacts__element_info {
    font-size: 17px;
  }
}

@media (max-width: 800px) {
  .header__title p {
    width: 85%;
    line-height: 22px;
  }
  .contacts {
    padding-bottom: 90px;
    width: 84%;
    margin-left: 8.6%;
  }
  .contacts__element {
    margin-bottom: 25px;
  }
  .contacts__element_header {
    width: 180px;
  }
  .contacts p {
    font-size: 16px;
  }
  .contacts a {
    font-size: 16px;
  }
  .footer {
    padding: 30px 7%;
  }
}

@media (max-width: 600px) {
  .header__title p {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts {
    margin-left: 6%;
  }
  .contacts__element {
    display: block;
    margin-bottom: 40px;
  }
  .contacts__element_header {
    margin-bottom: 3px;
    color: #E22A2A;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .contacts__element_icon_email {
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../img/contacts/email.svg");
  }
  .contacts__element_icon_tg {
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../img/contacts/tg.svg");
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  .contacts__element_icon_vk {
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../img/contacts/vk.svg");
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
    background-position: center center;
    width: 23px;
    margin-right: 17px;
  }
}

.about-header__title {
  margin: 0;
  padding: 100px 0;
}

.about-header__title, .about {
  width: 750px;
  margin: 0 auto;
}

.about {
  padding-bottom: 40px;
}

.about p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: #2E2E2E;
}

.about p a {
  color: #2E2E2E;
  position: relative;
}

.about p a:before {
  content: '';
  bottom: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2E2E2E;
}

.about__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5.5%;
  padding-bottom: 80px;
}

.about__portfolio_block {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  margin: 10px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 4px;
}

.about__portfolio_block img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .about-header__title {
    margin: 0;
  }
  .about-header__title, .about {
    width: 670px;
    margin: 0 auto;
  }
  .about__portfolio {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto;
    padding: 0 7.3%;
    padding-bottom: 80px;
  }
  .about__portfolio_block {
    margin: 18px 0;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
}

@media (max-width: 800px) {
  .about-header__title {
    margin: 0;
  }
  .about-header__title, .about {
    margin: 0 7.5%;
    width: auto;
  }
  .about p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about__portfolio {
    padding: 0;
    padding-bottom: 80px;
  }
  .about__portfolio_block {
    -ms-flex-preferred-size: 89%;
    flex-basis: 89%;
    margin: 15px auto;
  }
}

@media (max-width: 600px) {
  .about, .about-header__title {
    margin: 0 6.5%;
  }
  .about p {
    font-size: 16px;
    line-height: 22px;
  }
  .about__portfolio {
    padding-bottom: 60px;
  }
  .about__portfolio_block {
    margin: 10px auto;
  }
}