body {
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

h1,
h2,
h3,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input {
  outline: none;
  border: 0;
}

.header__title {
  margin: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #2E2E2E;
  padding: 120px 0;
}

.header__title h1 {
  font-size: 50px;
  letter-spacing: 0.01em;
  font-weight: 400;
  margin-bottom: 13px;
}

.header__title h2,
.header__title p {
  font-size: 22px;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.menu {
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
}

.menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  width: 86%;
  padding: 32px 0;
}

.menu a {
  color: #4D4D4D;
}

.menu__logo {
  color: #4D4D4D;
  font-weight: 700;
  font-size: 25px;
}

.menu__right {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 195px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(-11px);
  transform: translateX(-11px);
}

.menu__right a {
  position: relative;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu__right a:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #E22A2A;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu__right a:hover {
  color: #E22A2A;
}

.menu__right a:hover:before {
  width: 100%;
}

.portfolio {
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 88%;
}

.portfolio__block {
  margin-top: 12px;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  cursor: pointer;
}

.portfolio__block_wrapper {
  width: 94%;
  height: 92%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  background-color: #ccc;
}

.portfolio__block_wrapper:hover {
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.25);
}

.portfolio__block_wrapper img {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 120%;
}

.footer {
  padding: 30px 7%;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.footer__up_icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-image: url("../img/up.svg");
  width: 25px;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(-11px);
  transform: translateX(-11px);
}

.footer__social_cv,
.footer__social_tg,
.footer__social_vk {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.footer__social_cv {
  background-image: url("../img/cv.svg");
  background-position: 0% 0%;
}

.footer__social_tg {
  background-image: url("../img/tg.svg");
}

.footer__social_vk {
  background-image: url("../img/vk.svg");
  width: 23px;
}

.brd {
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
  padding: 40px 0;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid #BBBBBB;
}

.brd__created {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.brd__name {
  font-weight: 700;
  font-size: 25px;
  color: #2E2E2E;
}

@media (max-width: 1200px) {
  .menu__wrap {
    padding: 27px 0;
    width: 85%;
  }

  .menu__logo {
    font-size: 23px;
  }

  .menu__right {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    font-size: 15px;
    width: 185px;
  }

  .header__title {
    margin: 0 7.5%;
  }

  .header__title h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .header__title h2,
  .header__title p {
    font-size: 19px;
  }

  .portfolio__block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .portfolio__block_wrapper {
    height: 94.5%;
  }

  .portfolio__block_wrapper img {
    width: 110%;
  }
}

@media (max-width: 800px) {
  .menu__wrap {
    padding: 22px 0;
  }

  .menu__right {
    width: 170px;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  .menu__right a:before {
    bottom: -1px;
  }

  .header__title {
    margin: 0 8%;
    padding: 110px 0;
  }

  .header__title h1 {
    font-size: 42px;
  }

  .header__title h2,
  .header__title p {
    font-size: 17px;
  }

  .portfolio {
    padding-bottom: 100px;
  }

  .portfolio__block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .portfolio__block_wrapper {
    width: 95%;
    height: 95%;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer__social {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 auto;
    width: 150px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-bottom: 20px;
  }

  .footer__social_cv,
  .footer__social_tg,
  .footer__social_vk {
    width: 22px;
    height: 22px;
  }

  .footer__social_vk {
    width: 27px;
  }

  .footer__copyright {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    text-align: center;
  }

  .footer__up {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu__wrap {
    width: 90%;
  }

  .menu__logo {
    font-size: 20px;
  }

  .menu__right {
    width: 145px;
    font-size: 14px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .header__title {
    padding: 80px 0;
    margin: 0 6.5%;
  }

  .header__title h1 {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .header__title h2 {
    font-size: 15px;
  }

  .portfolio {
    padding-bottom: 80px;
  }

  .portfolio__block_wrapper {
    width: 100%;
    height: 96%;
  }
}

.header__title p {
  width: 740px;
}

.contacts {
  padding-bottom: 100px;
  margin-left: 7.5%;
}

.contacts__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contacts__element_header {
  font-size: 18px;
  width: 200px;
}

.contacts__element_info {
  font-size: 18px;
  color: #2E2E2E;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  position: relative;
}

.contacts__element_info:after {
  content: '';
  bottom: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #2E2E2E;
}

@media (max-width: 1200px) {
  .header__title p {
    width: 640px;
    line-height: 26px;
  }

  .contacts {
    margin-left: 8.2%;
  }

  .contacts__element_header {
    font-size: 17px;
  }

  .contacts__element_info {
    font-size: 17px;
  }
}

@media (max-width: 800px) {
  .header__title p {
    width: 85%;
    line-height: 22px;
  }

  .contacts {
    padding-bottom: 90px;
    width: 84%;
    margin-left: 8.6%;
  }

  .contacts__element {
    margin-bottom: 25px;
  }

  .contacts__element_header {
    width: 180px;
  }

  .contacts p {
    font-size: 16px;
  }

  .contacts a {
    font-size: 16px;
  }

  .footer {
    padding: 30px 7%;
  }
}

@media (max-width: 600px) {
  .header__title p {
    font-size: 16px;
    line-height: 21px;
  }

  .contacts {
    margin-left: 6%;
  }

  .contacts__element {
    display: block;
    margin-bottom: 40px;
  }

  .contacts__element_header {
    margin-bottom: 3px;
    color: #E22A2A;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .contacts__element_icon_email {
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../img/contacts/email.svg");
  }

  .contacts__element_icon_tg {
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../img/contacts/tg.svg");
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  .contacts__element_icon_vk {
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../img/contacts/vk.svg");
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
    background-position: center center;
    width: 23px;
    margin-right: 17px;
  }
}

.about-header__title {
  margin: 0;
  padding: 100px 0;
}

.about-header__title,
.about {
  width: 750px;
  margin: 0 auto;
}

.about {
  padding-bottom: 40px;
}

.about p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: #2E2E2E;
}

.about p a {
  color: #2E2E2E;
  position: relative;
}

.about p a:before {
  content: '';
  bottom: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2E2E2E;
}

.about__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5.5%;
  padding-bottom: 80px;
}

.about__portfolio_block {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  margin: 10px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 4px;
}

.about__portfolio_block img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .about-header__title {
    margin: 0;
  }

  .about-header__title,
  .about {
    width: 670px;
    margin: 0 auto;
  }

  .about__portfolio {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto;
    padding: 0 7.3%;
    padding-bottom: 80px;
  }

  .about__portfolio_block {
    margin: 18px 0;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
}

@media (max-width: 800px) {
  .about-header__title {
    margin: 0;
  }

  .about-header__title,
  .about {
    width: 89%;
    margin: 0 auto;
  }

  .about p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .about__portfolio {
    padding: 0;
    padding-bottom: 80px;
  }

  .about__portfolio_block {
    -ms-flex-preferred-size: 89%;
    flex-basis: 89%;
    margin: 15px auto;
  }
}

@media (max-width: 600px) {
  .about {
    margin-left: 5%;
  }

  .about p {
    font-size: 16px;
    line-height: 22px;
  }

  .about__portfolio {
    padding-bottom: 60px;
  }

  .about__portfolio_block {
    margin: 10px auto;
  }
}