@font-face {
    font-family: 'Maven Pro';
    src: local('Maven Pro Regular'), local('MavenProRegular'), url('../fonts/Mavenproregular.woff2') format('woff2'), url('../fonts/Mavenproregular.woff') format('woff'), url('../fonts/Mavenproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
